<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="TranportCatalogEntities" connectionString="metadata=res://*/TrackMyKidEntities.csdl|res://*/TrackMyKidEntities.ssdl|res://*/TrackMyKidEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Sampath\SQLEXPRESS;initial catalog=TranportCatalog;persist security info=True;user id=sa;password=priyad;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="TranportCatalogEntities" connectionString="metadata=res://*/TrackMyKidEntities.csdl|res://*/TrackMyKidEntities.ssdl|res://*/TrackMyKidEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BBB-PC\MSSQL;initial catalog=TranportCatalog;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>